<launch>
    <param name="use_sim_time" value="true" />

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
        <arg name="port" value="7777"/>
        <arg name="bson_only_mode" value="true"/>
        <param name="use_sim_time" value="true" />
    </include>
    
    <node pkg="nodelet" type="nodelet" args="manager" name="record_player_manager" output="screen"/>

    <node name="decompress_rgb_right" pkg="image_transport" type="republish" args="compressed in:=/unity/camera/right/rgb raw out:=/unity/camera/right/rgb/image_raw" />
    <!-- builds pointcloud from the color and depth images -->
    <node pkg="nodelet" type="nodelet" name="cloudify_right" args="load depth_image_proc/point_cloud_xyzrgb record_player_manager ">
        <param name="use_sim_time" value="true" />
        <remap from="depth_registered/image_rect" to="/unity/camera/right/depth/image_raw"/> 
        <remap from="rgb/image_rect_color"  to="/unity/camera/right/rgb/image_raw"/> 
        <remap from="rgb/camera_info" to="/unity/camera/right/rgb/camera_info"/>
        <remap from="depth_registered/points" to="/unity/camera/right/depth/points"/> 
    </node>
  
    <node name="decompress_rgb_left" pkg="image_transport" type="republish" args="compressed in:=/unity/camera/left/rgb raw out:=/unity/camera/left/rgb/image_raw" />
    <!-- builds pointcloud from the color and depth images -->
    <node pkg="nodelet" type="nodelet" name="cloudify_left" args="load depth_image_proc/point_cloud_xyzrgb record_player_manager ">
        <param name="use_sim_time" value="true" />
        <remap from="depth_registered/image_rect" to="/unity/camera/left/depth/image_raw"/> 
        <remap from="rgb/image_rect_color"  to="/unity/camera/left/rgb/image_raw"/> 
        <remap from="rgb/camera_info" to="/unity/camera/left/rgb/camera_info"/>
        <remap from="depth_registered/points" to="/unity/camera/left/depth/points"/> 
    </node>

</launch>
