<launch>
  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" ns="my_gen3_left" >
    <rosparam command="load" file="$(find joining_experiment)/config/servo-config-gen3.yaml" />
    <remap from="/joint_states" to="/my_gen3/joint_states"/>
  </node>
  <node name="get_anode" pkg="to_assembly" type="transform_test.py" output="screen" />
</launch>