<launch>
  <arg name="debug" default="true"/>
  <arg name="/use_sim_time" default="true"/>

  <!-- Nodes for Right arm (servoing and control)  -->
  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" ns="my_gen3_right">
    <rosparam command="load" file="$(find toy_assembly)/config/servo-config-gen3_right.yaml" />
  </node>
  <group ns="my_gen3_right">
    <node name="right_arm" pkg="toy_assembly" type="right_robot_arm.py" output="screen" >
      <param name="~real"	 value="false"/>
    </node>
  </group> 

  <!-- Nodes for Left arm (servoing and control) -->
  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" ns="my_gen3_left">
    <rosparam command="load" file="$(find toy_assembly)/config/servo-config-gen3_left.yaml" />
  </node> 
  <group ns="my_gen3_left">
    <node name="left_arm" pkg="toy_assembly" type="left_robot_arm.py" output="screen" />
  </group>

  <node name="status" pkg="toy_assembly" type="status.py" output="screen" > </node>

  <node name="sam_ada_services" pkg="toy_assembly" type="sam_ada_client.py" output="screen" >  
    <param name="~real"  value="false" />
  </node>

  <arg name="arm" default="left"/>
  <arg name="minX" default="-0.25"/>
  <arg name="maxX" default=" 0.25"/>
  <arg name="minY" default="-0.350"/>
  <arg name="maxY" default=" 0.350"/>
  <arg name="minZ" default=" 0.0"/>
  <arg name="maxZ" default=" 1.25"/>
  <arg name="distance_threshold" default="0.03"/>
  <arg name="cluster_tolerance" default="0.03"/>
  <arg name="min_cluster_size" default="10"/>
  <arg name="max_cluster_size" default="5000"/>
  <include file="$(find toy_assembly)/launch/pcl_segment.launch" > 
    <arg name="arm" value="left"/> 
    <arg name="minX"		value="$(arg minX)"/>
    <arg name="maxX"		value="$(arg maxX)"/>
    <arg name="minY"		value="$(arg minY)"/>
    <arg name="maxY"		value="$(arg maxY)"/>
    <arg name="minZ"		value="$(arg minZ)"/>
    <arg name="maxZ"		value="$(arg maxZ)"/>
    <arg name="distance_threshold" value="$(arg distance_threshold)"/>
    <arg name="cluster_tolerance"  value="$(arg cluster_tolerance)"/>
    <arg name="min_cluster_size"   value="$(arg min_cluster_size)"/>
    <arg name="max_cluster_size"   value="$(arg max_cluster_size)"/>
  </include>



</launch>