<launch>
    <arg name="bag_directory" default="/home/rivr/toy_bags/"/>
    <arg name="prefix" default="01"/>
 
    <arg name="arm" default="right" />
    <arg name="real" default="false" />

    <arg name="record" default="false" />

    <node name= "manual_arm" pkg= "toy_assembly" type= "manual_servo.py" output="screen" respawn= "false">
        <param name="arm" value="$(arg arm)"/>
        <param name="real" value="$(arg real)"/>
    </node>

 <!--
    <node pkg="rosbag" type="record" name="toy_record"
        args="record -o $(arg bag_directory)$(arg prefix)
            /left_camera/color/camera_info
            /left_camera/color/image_raw
            /left_camera/depth_registered/points
            /left_camera/depth_registered/sw_registered/camera_info
            /left_camera/depth_registered/sw_registered/image_rect
            /right_camera/color/camera_info
            /right_camera/color/image_raw
            /right_camera/depth_registered/points
            /right_camera/depth_registered/sw_registered/camera_info
            /right_camera/depth_registered/sw_registered/image_rect
            /unity/camera/left/depth/camera_info
            /unity/camera/left/depth/image_raw
            /unity/camera/left/depth/points
            /unity/camera/left/rgb/camera_info
            /unity/camera/left/rgb/image_raw
            /unity/camera/right/depth/camera_info
            /unity/camera/right/depth/image_raw
            /unity/camera/right/depth/points
            /unity/camera/right/rgb/camera_info
            /unity/camera/right/rgb/image_raw
            /tf
            /tf_static
            /my_gen3_left/joint_states
            /my_gen3_right/joint_states  
            /scene/transform
            /audio
            /buttons"
    />
-->


</launch>